#userdata{
    margin-top: 0.6em;
}

.border-user{
    color: #887e80;
  
}
.text-color{
    color: black;
}
.card{
      border-style: solid;
    border-color: #887e80;
}
.card-header{
    background-color: #E3D3D6;
}

.user {
    border-right: 1px solid #E3D3D6;
     border-bottom: 1px solid #E3D3D6;
}

.bold-topic{
    font-weight: bold;
}

.bold-topic-1 {
    font-weight: normal;
}

